name: release
on:
  workflow_dispatch:
  push:
    tags:
      # this is a glob, not a regexp
      - '[0-9]*'


jobs:
  source:
    runs-on: ubuntu-latest
    permissions:
      # create GitHub release
      contents: write
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Workaround for https://github.com/actions/checkout/pull/697
        run: git fetch --force origin $(git describe --tags):refs/tags/$(git describe --tags)

      - name: Build release
        run: tools/release '${{ github.server_url }}/${{ github.repository }}' '${{ github.ref_name }}'

      - id: publish
        name: Publish GitHub release
        uses: cockpit-project/action-release@7d2e2657382e8d34f88a24b5987f2b81ea165785
        with:
          filename: "cockpit-${{ github.ref_name }}.tar.xz"

    outputs:
      filename: ${{ steps.publish.outputs.filename }}
      checksum: ${{ steps.publish.outputs.checksum }}
      download: ${{ steps.publish.outputs.download }}
      body: ${{ steps.publish.outputs.body }}

  guide:
    needs: source
    uses: ./.github/workflows/update-guide.yml
    with:
      release_tag: ${{ github.ref_name }}


  flathub:
    needs: source
    uses: ./.github/workflows/release-flathub.yml
    with:
      release_tag: ${{ github.ref_name }}

  node-cache:
    needs: [source]
    uses: ./.github/workflows/node-cache.yml
